---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-6xl mx-auto">
    <h1 class="text-5xl font-semibold text-center mb-12">Sobre Nosotros</h1>

    <section class="flex gap-12">
      <div class="flex-[0.85]">
        <div class="max-w-prose">
          <header>
            <span class="block font-bold text-blue-400 mb-0.5"
              >Sobre Nosotros</span
            >
            <h1 class="text-4xl font-bold text-indigo-50 mb-4">
              De Gamers para Gamers: Conoce a We Are Gamers
            </h1>
          </header>

          <p class="text-neutral-400">
            We Are Gamers nació con la misión de ofrecer una experiencia de
            compra única para los gamers. Desde nuestros primeros días, nos
            hemos dedicado a ofrecer productos de calidad, atención
            personalizada y un ambiente que celebre todo lo relacionado con el
            mundo de los videojuegos.
          </p>

          <nav class="mt-5">
            <a
              href="#"
              class="bg-blue-500 px-5 py-3 rounded-md block max-w-fit font-medium transition duration-150 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
              aria-label="Conoce más sobre nuestros productos y servicios"
            >
              Conoce más
            </a>
          </nav>
        </div>
      </div>

      <div class="flex-1">
        <img
          src="https://static.vecteezy.com/system/resources/thumbnails/042/960/123/small_2x/ai-generated-gamepad-in-the-hands-of-a-gamer-on-a-technological-background-neon-lighting-video-games-online-with-friends-winnings-prizes-fun-entertainment-youth-culture-virtual-reality-photo.jpg"
          alt=""
          class="object-cover size-full"
        />
      </div>
    </section>

    <section class="flex gap-12 mt-32">
      <div class="flex-1">
        <img
          src="https://img.freepik.com/free-photo/view-illuminated-neon-gaming-keyboard-setup-controller_23-2149529367.jpg?t=st=1742267300~exp=1742270900~hmac=dc31a24be205ca498c7198536d25ae6fdd3d42d472cba5ab357c464c2731bc57&w=900"
          alt=""
          class="object-cover size-full"
        />
      </div>
      <div class="flex-[0.85]">
        <div class="max-w-prose">
          <header>
            <span class="block font-bold text-blue-400 mb-0.5">Valores</span>
            <h1 class="text-4xl font-bold text-indigo-50 mb-4">
              Más que una Tienda, una Comunidad Gamer
            </h1>
          </header>

          <div class="mt-3">
            <article>
              <h3 class="text-lg font-semibold">🎯 Misión</h3>
              <p class="text-white/75 mt-3 leading-relaxed">
                Ofrecer a los gamers productos de alta calidad, atención
                personalizada y una experiencia de compra única, creando un
                ecosistema donde la pasión por los videojuegos se refleje en
                cada detalle.
              </p>
            </article>
            <article class="mt-5">
              <h3 class="text-lg font-semibold">👁️ Visión</h3>
              <p class="text-white/75 mt-3 leading-relaxed">
                Convertirnos en la tienda líder para gamers, reconocida por la
                innovación, variedad y excelencia en el servicio, consolidando
                una comunidad global unida por el amor a los videojuegos.
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
