<footer class="bg-neutral-800 py-8 px-1.5">
  <div class="max-w-5xl flex items-center justify-between mx-auto">
    <section>
      <h2 class="font-bold mb-2 text-white">Redes Sociales</h2>
      <nav
        aria-labelledby="social-media-links"
        class="flex flex-col items-start"
      >
        <a
          href="#"
          class="text-neutral-300 hover:underline"
          aria-label="Visítanos en Facebook">Facebook</a
        >
        <a
          href="#"
          class="text-neutral-300 hover:underline"
          aria-label="Síguenos en Instagram">Instagram</a
        >
        <a
          href="#"
          class="text-neutral-300 hover:underline"
          aria-label="Mira nuestros videos en YouTube">YouTube</a
        >
      </nav>
    </section>
  </div>
</footer>
